/* Fonts */
@font-face {
  font-family: BickhamScript;
  src: url('../fonts/BickhamScriptPro.svg') format('svg');
  src: url('../fonts/BickhamScriptPro.woff') format('woff'); /* Modern Browsers */
  /*src: url('../fonts/BickhamScriptPro.eot');*/ /* IE9 Compat Modes */
  src: url('../fonts/BickhamScriptPro.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  /*src: url('../fonts/BickhamScriptPro.ttf') format('truetype');*/ /* Safari, Android, iOS */
}
.bickham {
  font-family: 'BickhamScript', Arial, Helvetica, Verdana;
}

@font-face {
  font-family: KabelLight;
  src: url('../fonts/KabelLTStd-Book.svg') format('svg');
  src: url('../fonts/KabelLTStd-Book.woff') format('woff'); /* Modern Browsers */
  /*src: url('../fonts/KabelLTStd-Book.eot');*/ /* IE9 Compat Modes */
  src: url('../fonts/KabelLTStd-Book.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  /*src: url('../fonts/KabelLTStd-Book.ttf') format('truetype');*/ /* Safari, Android, iOS */
}
.kabel {
  font-family: 'KabelLight', Arial, Helvetica, Verdana;
}